# dependencies
/node_modules

# build output
/dist
/build

# temporary files
.parcel-cache
*.log
*.tmp
*.cache

# OS/system files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode
.idea

# environment variables or secrets (if any)
/.env
.env.local
