body{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
#heading{
    background-color: rgb(56, 116, 184);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 100%;
}
h1{
    color: aliceblue;
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    flex-wrap: wrap;

    padding: 2rem 7rem 0 7rem;   
}
.cards,.username{
    text-align: center;
    border: 2px solid black;
    margin: 7px;
    border-radius: 7px;
    padding: .7rem;
}
.cards>img ,.username>img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin: 1rem;
}
.cards>h2 ,.cards>a,.username>h2,.username>a{
    margin-top: -10px;
    text-decoration: none;
}
.cards>a{
    margin: -15px;
}
.search{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    height:auto;
    align-items: center;
}
.search>input{
    width: 15rem;
    height: 1.5rem;
}
button{
    margin-left: 5px;
    background-color:rgba(56, 116, 184, 0.811) ;
    border: none;
    color: aliceblue;
    font-weight: 700;
    width: 8rem;
    border-radius: 7px;
    margin: 5px;
    height: 1.8rem;
    padding: 5px;
}